@import url(init.css);
@import url(login_register.css);
/*-------------------------*/
body{
	height: 600px;
	background-color: #91adba;
	background: url(../images/index/bg.jpg) no-repeat;
	background-position: center center;
	background-size: 100% 100%;
	/*overflow: hidden;*/
}

#login_register{
	width: 500px;
	height: 450px;
	/*border: 1px solid #fff;*/
	margin: 100px auto;
	background: url(../images/index/sign.png) no-repeat;
	background-position: top center;
	position: relative;
}

#login_register a{
	display: block;;
	position: absolute;
	width: 115px;
	height: 45px;
	border: 2px solid #fff;
	/*border-radius: 3px;*/
	line-height: 45px;
	text-align: center;
	color: #fff;
	font-size: 24px;
	text-decoration: none;
	bottom: 30px;
	font-weight: bold;
	background: #cb92c0;
}

#login_btn{
	right: 100px;
}
#register_btn{
	left: 100px;
}
