@import url(init.css);
@import url(top.css);
@import url(waterfall.css);



/*---------------------------*/
body{
	background: #ecede8;
}


#loading{
	display: block;
	width: 150px;
	height: 35px;
	line-height: 35px;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #333;
	font-size: 20px;
	cursor: pointer;
}