@import url(init.css);
@import url(top.css);


/*---------------------------*/
#main_container{
	width: 800px;
	margin: 20px auto;
}

#main_container .left{
	float: left;
	width: 440px;
}
#main_container .left>div{
	box-shadow: 0 0 5px #333;
}

#main_container .left #show_photo{
	width: 400px;
	padding: 10px 20px;
	
}

#main_container .left #show_photo img{
	width: 360px;
	height: auto;
}
#main_container .left #add_comment{
	margin-top: 30px;
	width: 400px;
	height: 150px;
	padding: 15px;
}
#main_container .left #add_comment #info{
	height: 50px;
}
#main_container .left #add_comment #info a{
	float: left;
}

#my_comment textarea{
	width: 320px;
	height: 70px;
	vertical-align: bottom;
}
#my_comment input{
	vertical-align: bottom;
}

#main_container .left #comments{
	width: 400px;
	margin: 30px 0 80px;
}
#comments ul{
	padding: 0;
}
#comments li{
	line-height: 23px;
	padding: 8px 15px;
	border-bottom: 1px solid #999;
}
#comments li p{
	line-height: 23px;
	margin: 0;
	border: 1px solid #000;
}

#main_container .right{
	float: left;
	margin: 10px 0 0 40px;
	width: 320px;
	height: 560px;
	box-shadow:0 0 5px #333 ;
	-moz-webkit-box-shadow:0 0 5px #333 ;
	-ms-webkit-box-shadow:0 0 5px #333 ;
	-o-webkit-box-shadow:0 0 5px #333 ;
	-webkit-box-shadow:0 0 5px #333 ;
}
#main_container .right #album_info{
	height: 80px;
	background: #eee;
}
#main_container .right #waterfall{
	width: 290px;
	height: 420px;
	margin: 0 auto;
	overflow-x: hidden;
	overflow-y: scroll;

}
#main_container .right #waterfall ul{
	width: 270px;
	margin: 0 auto;
}
#main_container .right #waterfall li{
	display: block;
	float: left;
	width: 86px;
	padding: 2px;
}
#main_container .right #waterfall li img{
	width: 100%;
	height: auto;
	box-shadow:0 0 1px #333 ;
	-moz-webkit-box-shadow:0 0 1px #333 ;
	-ms-webkit-box-shadow:0 0 1px #333 ;
	-o-webkit-box-shadow:0 0 1px #333 ;
	webkit-box-shadow:0 0 1px #333 ;
}

#main_container #left_arrow{
	position: absolute;
	left: 10px;
	top:300px;
	width: 104px;
	height: 115px;
	background: url(../images/photo/left_arrow.png) no-repeat;
	background-position: top center;
}
#main_container #right_arrow{
	position: absolute;
	right: 10px;
	top:300px;
	width: 104px;
	height: 115px;
	background: url(../images/photo/right_arrow.png) no-repeat;
	background-position: top center;
}

