#top{
	position: relative;
	height: 60px;
	width: 100%;
	min-width: 600px;
	*width: 600px;
	_width:600px;
	background: #fff;
	box-shadow: 0 2px 3px #555;
}
#top>*{
	height: 60px;
	line-height: 60px;
}
#top>a>img, #top>.nav{
	float: left;
}
#login_register,#me_msg{
	float: right;
}
#top>.nav li{
	float: left;
	font-size: 20px;
	text-align: center;
}
#top>.nav li a{
	display: block;
	height: 60px;
	padding: 0 10px;
}
#top>a>img{
	width: 150px;
	margin-left: 30px;
}

#top #me_msg{
	width: 158px;
	
}
#top #me_msg a{
	display: block;
	height: 100%;
	width: 78px;
	margin-left: 1px;
	float: left;
}

#top #me_msg #me_btn{
	background: url(../images/top/me_btn.png) no-repeat #f0eeee;
	background-position: center center;
}
#top #me_msg #msg_btn{
	background: url(../images/top/inform.png) no-repeat #f0eeee;
	background-position: center center;
}

#top #msg , #top #me{
	display: none;
	position: absolute;
	width: 160px;
	height: 140px;
	background: #fff;
	right: 0px;
	top: 60px;
}
#top #msg li, #top #me li{
	height: 35px;
	line-height: 35px;
}