		<form action="" id="modify_info_form">
			<a href="javascript:void(0);" id="modify_head_btn">修改头像</a>
			<h3 id="show_account">ta的账号</h3>
			修改昵称<input type="text">
			<p id="modify_psw">修改密码</p>
			<div id="modify_psw_box">
				<p><span class="left">旧密码</span><input type="password" name="old_password"></p>
				<p><span class="left">新密码</span><input type="password" name="new_password"></p>
				<p><span class="left">确认密码</span><input type="password"></p>
			</div>
			<input type="submit" value="确认">
		</form>