		<div class='left'>
			<div class='head-container'>
				<img src="" alt="">
				<span id='username'>宋伊人</span>
			</div>
			<div class="num-container">
				<a href="javascript:void(0);" id="see_fans_btn">
					<span class='num'>99</span>
					<span class='num-title' >粉丝</span>
				</a>
				<a href="javascript:void(0);" id="see_follow_btn">
					<span class="num">99</span>
					<span class="num-title" >关注</span>
				</a>
			</div>
		</div>
			
		<div class='right'>
			<a href="javascript:void(0);" id="modify_info_btn">账号设置</a>
			<a href="javascript:void(0);" id="delete_album_btn">删除相册</a>
		</div>
		<div id='personal_info_footer'>
			<div class="nav">
				<a href="javascript:void(0);" id='album_btn'>相册</a>
				<a href="javascript:void(0);" id='collect_btn'>采集</a>
				<a href="javascript:void(0);" id='like_btn'>喜欢</a>
			</div>
			<span id='album_name'>相册名</span>
		</div>