<a href="main.html"><img src="images/main/logo.png"></a>
<div class='nav'>
	<ul>
		<li><a href="main.html">首页</a></li>
		<li><a href="me.html">相册</a></li>
		<li><a href="">照片墙</a></li>
	</ul>
</div>

<!--已登陆-->
<div id='me_msg'>
	<a href="javascript:void();" id='msg_btn'></a>
	<a href="javascript:void();" id='me_btn'></a>
</div>
<div id='me'>
	<ul>
		<li><a href="">选项A</a></li>
		<li><a href="">选项B</a></li>
		<li><a href="">选项C</a></li>
		<li><a href="">选项D</a></li>		
	</ul>
</div>
<div id="msg">
	<ul>
		<li>XXX在<a href="">xxxx</a>下给你留言了</li>
		<li>XXX在<a href="">xxxx</a>下给你点赞了</li>
		<li>XXX收藏了你的照片<a href="">xxxx</a></li>
		<li>XXX在<a href="">xxxx</a>下给你留言了</li>
	</ul>
</div>