<!DOCTYPE html>
<html>
<head>
	<title>Album_首页</title>
	<meta charset='utf-8'>
	<link rel="stylesheet" type="text/css" href="../../resources/css/main.css">
	<script src='../../resources/js/jquery-2.1.3.min.js'></script>
	<script src='../../resources/js/imagesloaded.pkgd.min.js'></script>
	<script src='../../resources/js/masonry.pkgd.min.js'></script>
	<script src='../../resources/js/waterfall.js'></script>
</head>
<body>
	<div id='top'>
		<!-- @import top.html -->
	</div>
	<div id='waterfall'>
		<ul>
			<li id='me_info'>
				<div>
					<div>
						<img src="" alt="" id='head'>
						<span id='nickname'>
							昵称
						</span>
					</div>
					<a href=""><span class="num">99</span><span class="numTitle">照片</span></a>
					<a href=""><span class="num">99</span><span class="numTitle">相册</span></a>
					<a href=""><span class="num">99</span><span class="numTitle">粉丝</span></a>
				</div>
			</li>
			<!--@import photo_item.html-->
		</ul>
		<div id='loading'></div>
	</div>
	<script src='../../resources/js/main.js'></script>
</body>
</html>