<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset='utf-8'>
	<link rel="stylesheet" href="../../resources/css/me.css">
	<script src='../../resources/js/jquery-2.1.3.min.js'></script>
	<script src='../../resources/js/imagesloaded.pkgd.min.js'></script>
	<script src='../../resources/js/masonry.pkgd.min.js'></script>
	<script src='../../resources/js/waterfall.js'></script>
</head>
<body>	
	<div id='top'>
		<!-- @import top.html -->
		
	</div>
	<div id='personal_info'>
		<!-- @import personal_info.html -->

	</div>

	<div id='album'>
		<ul id='album_list'>
			<li id='adding_album'>
				<a href="javascript:void();" id='adding_album_btn'></a>
			</li>
			<!--@ import albun_item.html-->
			
		</ul>
	</div>

	<div id='waterfall'>
		<ul data-ablbumID=''>
			<li id='adding_photo'>
				<a href="javascript:void();" id='adding_photo_btn'></a>
			</li>
			<!-- @import photo_item.html -->
		</ul>
	</div>
	
	<div id='fans'>
		<p>宋伊人<!--昵称-->的所有粉丝</p>
		<ul id="fans_list">
			<!-- @import fans_list_item.html -->
		</ul>
	</div>

	<div id="follow">
		<p>宋伊人<!--昵称-->的所有关注</p>
		<ul id="follow_list">
			<!-- @import follow_list_item -->
		</ul>
	</div>

	<div id="upload_box">
		<!-- @import upload_box.html -->
	</div>

	<div id="image_process_box">
		<!-- @import image_process_box.html -->
	</div>

	<div id="modify_info_box">
		<!-- @import modify_info_box.html -->
	</div>
	
	<div id="modify_head_box">
		<!-- @import modify_head_box.html -->
	</div>

	<div id="creat_album_box">
		<!-- @import creat_album_box.html -->
		
	</div>
<script src="../../resources/js/me.js"></script>
</body>
</html>