<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset='utf-8'>
	<link rel="stylesheet" href="css/photo.css">
	<script src='js/jquery-2.1.3.min.js'></script>
	<script src='js/imagesloaded.pkgd.min.js'></script>
	<script src='js/masonry.pkgd.min.js'></script>
	<script src='js/waterfall.js'></script>
</head>
<body>
	<div id='top'>
		<!--@import top.html-->
	</div>

	<div id='main_container'>
		<div id='next_btn'></div>
		<div id='pre_btn'></div>
		<a href="javascript:void(0);" id='left_arrow'></a>
		<a href="javascript:void(0);" id='right_arrow'></a>
		<div class='left'>
			<div id='show_photo'>
				<img src="">
				<div class='btns'>
					<a href="javascript:void();" id='collect'>采集</a>
					<a href="javascript:void();" id='like'>喜欢</a>
					<a href="javascript:void();" id='recommend'>评论</a>
					<a href="javascript:void();" id='move'>挪窝</a>
					<a href="javascript:void();" id='remove'>删除</a>
				</div>
			</div>

			<div id='add_comment'>
				<div id='info'>
					<a href="">
						<img src="" alt="">
					</a>
					<span id='nickname'>昵称</span>
					<span id='time'>YYYY/MM/DD</span>
				</div>
				<div id='my_comment'>
					
				</div>
			</div>
			
			<div id='comments'>
				<ul>
					<li></li>
				</ul>
			</div>
		</div>

		<div class='right'>
			<!--相关推荐或者其他什么的，暂时没想到要放什么东西-->
			<div id='album_info'>
				<img src="" alt="">
				<div>
					<h1></h1>
					<h2></h2>
				</div>
			</div>
			<ul id='waterfall'>
				<li><a href=""><img src="" alt=""></a></li>
				<li><a href=""><img src="" alt=""></a></li>
				<li><a href=""><img src="" alt=""></a></li>
				<li><a href=""><img src="" alt=""></a></li>
				<li><a href=""><img src="" alt=""></a></li>
				<li><a href=""><img src="" alt=""></a></li>
				<li><a href=""><img src="" alt=""></a></li>
				<li><a href=""><img src="" alt=""></a></li>
				<li><a href=""><img src="" alt=""></a></li>
				<li><a href=""><img src="" alt=""></a></li>
				<li><a href=""><img src="" alt=""></a></li>
				<li><a href=""><img src="" alt=""></a></li>
				<li><a href=""><img src="" alt=""></a></li>
				<li><a href=""><img src="" alt=""></a></li>
				<li><a href=""><img src="" alt=""></a></li>
				<li><a href=""><img src="" alt=""></a></li>
				<li><a href=""><img src="" alt=""></a></li>
				<li><a href=""><img src="" alt=""></a></li>
				<li><a href=""><img src="" alt=""></a></li>
				<li><a href=""><img src="" alt=""></a></li>
				<li><a href=""><img src="" alt=""></a></li>
				<li><a href=""><img src="" alt=""></a></li>
				<li><a href=""><img src="" alt=""></a></li>
				<li><a href=""><img src="" alt=""></a></li>
				<li><a href=""><img src="" alt=""></a></li>
				<li><a href=""><img src="" alt=""></a></li>
				<li><a href=""><img src="" alt=""></a></li>	
			</ul>
		</div>
	</div>
	<script src='js/my_photo.js'></script>
</body>
</html>